{% extends "bx_layout.html" %}

{% block pagecontent %}

  <div class="container">

    <!-- Page Heading/Breadcrumbs -->
		<!-- <h1 class="mt-4 mb-3">About<small>BREXit</small> -->
	  
	  <!-- Temporary Divider
	  <div class="divider">
		<img src="images/divider.png" alt="divider">
	  </div>
    </h1> -->
	<hr>

    <!-- Intro Content -->
    <div class="row">
      <div class="col-lg-6">
        <img class="img-fluid rounded mb-4" src="/images/img_garage sale.jpg"> <alt="Picture of Broward Exchange">
      </div>
      <div class="col-lg-6">
        <h4>About Us</h4><hr>
        <p>Broward Exchange was originally formed with the struggle of the college student in mind.
        Relieving the stress of home clutter has never been easier - we're here to give you the peace of mind that comes with no-stress item exchange.
		Whether you're here to buy, sell, take, trade, or give away, our algorithms are built to ensure you get what you need and get rid of what you don't.</p>
      </div>
    </div>
	<hr>
    <!-- /.row -->

    <!-- Team Members -->
    <h2>Our Team</h2>

    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" img src="/images/img_heather.png" alt="Picture of Heather">
          <div class="card-body">
            <h4 class="card-title">Heather Blake</h4>
            <h6 class="card-subtitle mb-2 text-muted">Project Manager</h6>
            <p class="card-text">Initiate, plan, coordinate project.</p>
          </div>
          <div class="card-footer">
            <a href="#">blakehm@mail.broward.edu</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" img src="/images/jay.jpg" alt="Picture of Jay">
          <div class="card-body">
            <h4 class="card-title">Anastasia Orkoulas</h4>
            <h6 class="card-subtitle mb-2 text-muted">Front-End Web Developer</h6>
            <p class="card-text">Creating that awesome user-friendly experience.</p>
          </div>
          <div class="card-footer">
            <a href="#">orkoad@bconline.broward.edu</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100 text-center">
          <img class="card-img-top" img src="/images/jorge.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Jorge Ortiz</h4>
            <h6 class="card-subtitle mb-2 text-muted">Back-End Web Developer</h6>
            <p class="card-text">Working behind the scene/server side,ensuring that administrative tasks will operate smoothly.</p>
          </div>
          <div class="card-footer">
            <a href="#">ortij10@bconline.broward.edu</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

    <!-- Our Customers -->
    <h2>Our Customers</h2>
    <div class="row">
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" img src="/images/bcn.jpg" alt="Image of Broward College">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="/images/fiu.jpg" alt="Image of Florida International">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="/images/nova.jpg" alt="Image of Nova Southeastern">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="/images/keiser.jpg" alt="Image of Keiser Univerity">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="/images/fau.jpg" alt="Image of Florida Atlantic">
      </div>
      <div class="col-lg-2 col-sm-4 mb-4">
        <img class="img-fluid" src="/images/college students.jpg" alt="Image of College Students">
      </div>
    </div>
    <!-- /.row -->

  </div>

{% endblock pagecontent %}
