{% extends "bx_layout.html" %}

{% block pagecontent %}

<div class="container">

	<h1 class="mt-4 mb-3">Listings</h1>
	<hr>

{% for post in postings %}
    <!-- Project One -->
    <div class="row">
      <div class="col-md-7">
        <a href="#">
		<img class="img-fluid rounded mb-3 mb-md-0" src="images/{{ post.get("picture") }}" alt="">
        </a>
      </div>
      <div class="col-md-5">
	      <h3><strong>{{ post.get("item") }}</strong><br>${{ post.get("price") }}</h3>
        <p>{{ post.get("description") }}</p>
	<p>{{ post.get("location") }}</p>
        <a class="btn btn-dark" href="#">View Listing
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
    <!-- /.row -->

    <br>
{% endfor %}

</div>

{% endblock pagecontent %}
