{% extends "bx_layout.html" %}

{% block pagecontent %}

  <div class="container">
		  <!-- Page Heading/Breadcrumbs -->
		<h1 class="mt-4 mb-3">Login
		<hr>
	</div>
	
  <form method="POST" action="/login"> <!-- This needs to be created. -->
		<div class="login">
			<label for="uname"><b>Username</b></label>
			<input type="text" placeholder="Enter Username" name="username" required><br>

			<label for="psw"><b>Password</b></label>
			<input type="password" placeholder="Enter Password" name="password" required><br>

			<button type="submit">Login</button><br>
			<label>
			  <input type="checkbox" checked="checked" name="remember"> Remember me
			</label>
		</div>

		<div class="container"><br>
			<span class="psw">Forgot <a href="#">password?</a></span>
		</div><br>
	</form>



  </div>

{% endblock pagecontent %}
